html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

body {
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 2.4rem;
  color: var(--darkgrey);
  min-height: 100vh;
  margin: 0 auto;
  background: var(--bodybg);

  /* --darkbg: #3b78b1;
  --lightbg: #daf3ff; */

  /* --darkbg: #4F86B9; */
  --darkbg: #729EC7;
  --lightbg: #E1F5FF;
  --medbg: #9CBBD8;
  --bodybg: #CDD0D4;
  --darkgrey: #313945;
  --lightgrey: #E2E3E6;
  --linkcolor: #345C83;
  --headers: #fcc400;
  
}

a {
  color:  var(--linkcolor);
  text-decoration: none;
  font-size: 2.2rem;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

h1 {
  margin: 20px 0 20px 0;
  font-size: 6rem;
  color: var(--headers);
  text-shadow: var(--darkgrey) 2px 2px 5px;
}

h2 {
  text-align: center;
  color: var(--headers);
  text-shadow: var(--darkgrey) 2px 2px 5px;
  margin: 10px 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 20px auto;
  font-size: 1.8rem;
  color: var(--darkgrey);
}

table a {
  color: var(--linkcolor);
  font-size: 2rem;
}

tbody > tr:nth-child(even){
  background: var(--medbg);
}
tbody > tr:nth-child(odd) {
  background: var(--lightbg);
  /* color: var(--darkgrey); */
}

td, th {
  border: solid 1px #333;
  padding: 1rem;
  margin: 0;
  text-align: center;
}


th {
  font-size: 2.2rem;
  color: var(--lightbg);
  background-color: var(--darkbg);
}

.short-input {
  width: 120px;
}

input[type=submit] {
  width: auto;
  margin: 10px 0 12px 0;
  border-radius: 8px;
  border: 0;
  background: var(--lightgrey);
  padding: 16px 20px;
  border: solid 1px var(--darkgrey);
  font-size: 2rem;
  color: var(--darkbg);
}

input[type=submit]:active {
  background: var(--lightbg);
  color: var(--darkbg);
}

input.delete-ecks {
  border-radius: 4;
  margin: 0;
  font-size: 1.6rem;
  color: var(--darkgrey);
  padding: 8px 12px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background: var(--darkbg);
  border-bottom: solid 1px black;
}

nav > a {
  display: inline-block;
  background: var(--darkbg);
  padding: 20px;
  margin: 0;
  text-decoration: none;
  color: var(--lightbg);
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

nav > a:hover {
  text-decoration: none;
  background: var(--lightbg);
  color: var(--linkcolor);
}

#container {
  width: 90vw;
  max-width: 900px;
  margin: 0 auto;
}

#container > p {
  margin: 0 0 0 20px;
}

section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}

#add-ticket, .add-destinations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  background: var(--darkbg);
  padding: 20px;
  text-align: center;
  width: 360px;
  border-radius: 20px;
  border: solid 1px #333;
  color: var(--lightbg);
}

#add-ticket h2 {
  margin: 0 0 20px 0;
}
#add-ticket input, .add-destinations input {
  margin: 4px 0 16px 0;
  background-color: var(--lightbg);
  border: solid 1px #333;
  padding: 1rem;
  color: var(--darkgrey);
  font-size: 2rem;
  border-radius: 4px;
  text-align: center;
}

.add-destinations select {
  margin: 16px 0;
  padding: 12px;
  background: var(--lightbg);
  color: var(--darkgrey);
  border: 0;
  border-radius: 8px;
  font-size: 2rem;
}

pre {
  font-size: 1.2rem;
  color: white;
}

#error-stack {
  background-image: url("/images/cartoon_crash.gif");
  background-size: cover;
  margin: 0;
  padding: 50px;
  /* text-shadow: green 0 0 10px; */
}

#error-stack h1 {
  text-shadow: var(--lightbg) 2px 2px 10px;
}

.past, .error {
  color: rgb(255, 68, 68) !important;
}