<%- include('../partials/header.ejs') %>


<div>
    <form action="/destinations" method="POST" class="add-destinations">
    <label for="airports">Airport</label>
    <input type="text" required name="airport" class="short-input">
    <input type="submit" value="Add Destination">
    
    <% if (typeof err === 'object' && err.code === 11000) { %>
    <p class="error">
        That destination already exists. Please enter a new destination.
    </p>
    <% } %>
    </form>
</div>

<% if (typeof destinations === 'object' && destinations.length > 0) { %>
<div>
    <h2>Current Destinations</h2>
    <table>
        <thead>
            <tr>
                <th>Airport</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        <% destinations.forEach(dest => { %>
            <tr>
                <td><%= dest.airport %></td>
                <td><form action="/destinations/<%=dest._id%>?_method=DELETE" method="POST"><input type="submit" value="X" class="delete-ecks"></form></td>
            </tr>
        <% }) %>
        </tbody>
    </table>
</div>
<% } %>

<%- include('../partials/footer.ejs') %>